# Merging the IFSC and 8a.nu Datasets
## Introduction

This Python script merges climbing data from two distinct sources: the 8anu climbing dataset and the IFSC climbers dataset. The purpose of this script is to combine relevant climber information, including performance metrics from both datasets, into a unified CSV file for further analysis.

### Datasets
1. **8anu Climbing Data** (`8anu_climbing_data.csv`): Contains climber names along with their highest recorded grade, count of 8c+ routes climbed, and average grade of their first five ascents.
2. **IFSC Climbers Data** (`ifsc_climbers.csv`): Provides climber details such as country, gender, and competition points across boulder, lead, and combined disciplines.

For more information on how these data were scraped, you can check out the previous notebooks.

### Output
The resulting dataset includes the following columns:
- `name`: Climber's name
- `country`: Climber's country (from IFSC data)
- `gender`: Climber's gender (from IFSC data)
- `boulder_points`: Points in boulder discipline (from IFSC data)
- `lead_points`: Points in lead discipline (from IFSC data)
- `combined_points`: Points in combined discipline (from IFSC data)
- `highest_grade`: Highest grade achieved (from 8anu data)
- `count_8c_plus`: Number of 8c+ routes climbed (from 8anu data)
- `avg_grade_first5`: Average grade of first five ascents (from 8anu data)

This merged dataset provides a comprehensive view of climbers' performance across both competitive and outdoor climbing metrics.

Let's start with the imports

In [2]:
import pandas as pd
import os

Next, let's read the datasets `8anu_climbing_data.csv` and `ifsc_climbers.csv`

In [16]:
# Read the datasets
anu_data = pd.read_csv("../data/8anu_data/8anu_climbing_data.csv")
ifsc_data = pd.read_csv("../data/ifsc_data/ifsc_climbers.csv")

# Create a dictionary from 8anu data for faster lookup (case-insensitive)
anu_dict = {row['name'].lower(): row for _, row in anu_data.iterrows()}

# Prepare the output data
merged_data = []

Now, let's loop through the ifsc dataset, pulling each climberâ€™s name and matching it (case-insensitive) with 8a.nu data and add it to the merged data.

In [17]:
# Loop through IFSC dataset
for _, ifsc_row in ifsc_data.iterrows():
    # Get the name
    name = ifsc_row['name']

    # Try to find matching 8anu data (case-insensitive)
    anu_row = anu_dict.get(name.lower())

    # Create new row with all required fields
    new_row = {
        'name': name.title(),
        'country': ifsc_row['country'] if pd.notna(ifsc_row['country']) else None,
        'gender': ifsc_row['gender'] if pd.notna(ifsc_row['gender']) else None,
        'boulder_points': ifsc_row['boulder_points'] if pd.notna(ifsc_row['boulder_points']) else None,
        'lead_points': ifsc_row['lead_points'] if pd.notna(ifsc_row['lead_points']) else None,
        'combined_points': ifsc_row['combined_points'] if pd.notna(ifsc_row['combined_points']) else None,
        'highest_grade': anu_row['highest_grade'] if anu_row is not None else None,
        'count_8c_plus': anu_row['count_8c_plus'] if anu_row is not None else None,
        'avg_grade_first5': anu_row['avg_grade_first5'] if anu_row is not None else None
    }

    merged_data.append(new_row)

 Finally, let's convert the merged data into a DataFrame, reorder the columns and save it to a csv.

In [18]:
# Create final DataFrame
result_df = pd.DataFrame(merged_data)

# Define the column order
column_order = ['name', 'country', 'gender', 'boulder_points', 'lead_points',
                'combined_points', 'highest_grade', 'count_8c_plus', 'avg_grade_first5']


output_dir = "../data/"
os.makedirs(output_dir, exist_ok=True)
temp_output_path = os.path.join(output_dir, "final_data.csv")
result_df.to_csv(temp_output_path, index=False)

print("Merged dataset saved to 'final_data.csv'")

Merged dataset saved to 'final_data.csv'

Let's preview the final dataset

In [19]:
print("\nFirst few rows of the result:")
result_df.head(10)

First few rows of the result:

,name,country,gender,boulder_points,lead_points,combined_points,highest_grade,count_8c_plus,avg_grade_first5
0,Sorato Anraku,JPN,male,3835.0,2281.0,6508.0,NaN,NaN,NaN
1,Dohyun Lee,KOR,male,3708.0,2123.0,4710.0,NaN,NaN,NaN
2,Meichi Narasaki,JPN,male,3055.0,NaN,NaN,NaN,NaN,NaN
3,Sohta Amagasa,JPN,male,2967.0,NaN,NaN,NaN,NaN,NaN
4,Tomoa Narasaki,JPN,male,2459.0,415.0,2860.0,NaN,NaN,NaN
5,Sam Avezou,FRA,male,2068.0,2977.0,3848.0,NaN,NaN,NaN
6,Toby Roberts,GBR,male,1995.0,2380.0,6180.0,NaN,NaN,NaN
7,Mejdi Schalck,FRA,male,1753.0,738.0,1923.0,26.0,10.0,23.33
8,Dayan Akhtar,GBR,male,1556.0,NaN,NaN,NaN,NaN,NaN
9,Maximillian Milne,GBR,male,1528.0,75.0,1528.0,NaN,NaN,NaN